<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MultiDev.hopeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_oficial"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_oficial"
        android:supportsRtl="true"
        android:theme="@style/Theme.HopeApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GUIVisores.TestVisor"
            android:exported="false" />
        <activity
            android:name=".GUIRegistros.Pacientes.RegistroSintomas"
            android:exported="false" />
        <activity
            android:name=".GUIRegistros.Doctores.RegistroDoctor"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GUIRegistros.Pacientes.RegistroPaciente"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GUIRegistros.VentanaRegistroGen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GUIRegistros.VentanaRegistroUno"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.HopeApp.NoActionBar"
            />
        <activity
            android:exported="true"
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>